@import 'https://fonts.googleapis.com/css?family=Raleway:100,400,700';

@font-face {
  font-family: 'LMRomanSlant10';
  src: url('/css/fonts/lmromanslant10-regular-webfont.eot');
  src: url('/css/fonts/lmromanslant10-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/css/fonts/lmromanslant10-regular-webfont.woff') format('woff'),
       url('/css/fonts/lmromanslant10-regular-webfont.ttf') format('truetype'),
       url('/css/fonts/lmromanslant10-regular-webfont.svg#latin_modern_roman_slante10Rg') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --clr-gray-100: #efefef;
  --clr-gray-400: #909090;
  --clr-dark-900: #222;
  --ff-lmroman: 'LMRomanSlant10', sans-serif;
  --ff-raleway: 'Raleway', sans-serif;
}
/* common styles */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-lmroman);
}
::selection {
  background-color: #fff498;
}

h2 {
  font-weight: 200;
  font-family: var(--ff-raleway);
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  list-style: none;
}
.text-gray--bold {
  color: var(--clr-dark-900);
  font-weight: 700;
}

svg {
  position: absolute;
  height: 100%;
  opacity: .1;
  top: 0;
  left: 1rem;
  z-index: 1;
}

.main-wrapper {
  width: min(95%, 140rem);
  margin: 0 auto 3rem auto;
  height: 60rem;
  position: relative;
}
.content-wrapper {
  max-width: 118rem;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}
.section-wrapper {
  margin-top: 3rem;
  background-color: var(--clr-gray-100);
  padding: 3rem 3rem 0 3rem;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#active {
  opacity: 1;
}
#current {
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3);
  opacity: 1;
  z-index: 10;
}
#front {
  right: 0;
  opacity: 1;
}
#back {
  left: 0;
  opacity: 1;
}
/* end of commonstyles */
/* HEADER */

.nav {
  display: flex;
  position: absolute;
  right: 3rem;
}
.nav__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0rem;
  cursor: pointer;
  z-index: 10;
}
.nav__menu {
  text-transform: uppercase;
  font-family: var(--ff-raleway);
  margin-right: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(17,17,17,0.15);
  width: 10rem;
  position: absolute;
  top: 3.2rem;
  left: -2rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  z-index: 1;
}
.nav__list::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 25px;
  height: 25px;
  border: 1px solid rgba(17,17,17,0.15);
  background-color: #e3e3e3;
  z-index: -1;
}
.nav__item {
  width: 100%;
  text-align: center;
}
.nav__item:not(:last-child) {
  border-bottom: 1px solid rgba(17,17,17,0.15);
}
.nav__link {
  color: var(--clr-dark-900);
  background-color: #e3e3e3;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: var(--ff-raleway);
  width: 100%;
  height: 100%;
  display: block;
  padding: .5rem 0rem;
}
.hamburger {
  display: inline-block;
  position: relative;
  width: 2.3rem;
  height: .2rem;
  background-color: var(--clr-dark-900);
}
.hamburger__bar::before {
  content: '';
  position: absolute;
  top: -.7rem;
  background-color: var(--clr-dark-900);
  width: 2.3rem;
  height: .2rem;
}
.hamburger__bar::after {
  content: '';
  position: absolute;
  top: .7rem;
  background-color: var(--clr-dark-900);
  width: 2.3rem;
  height: .2rem;
}
.header__content {
  display: flex;
  align-items: center;
  height: 100%;
}
.header__text {
  width: 45%;
  position: relative;
}
.header__heading {
  font-size: 4.2rem;
  margin-bottom: 3rem;
}
.header__paragraph {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  max-width: 45rem;
}
.header__text::after {
  content: '';
  display: block;
  left: 0;
  bottom: -10rem;
  height: 7rem;
  width: .1rem;
  background-color: var(--clr-dark-900);
}
.header__img-wrapper {
  width: 55%;
  align-self: flex-end;
}
.header__img {

}
/* end of HEADER */
/* about */

.about__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.about__text {
  width: 55%;
}
.about__heading {
  font-size: 4.2rem;
  margin-bottom: 3rem;
  position: relative;
}
.about__heading::before {
  content: '';
  position: relative;
  bottom: 1.5rem;
  display: inline-block;
  width: 7rem;
  height: .1rem;
  background-color: var(--clr-dark-900);
  margin-right: 3rem;
}
.about__paragraph {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  max-width: 60rem;
}
.about__img-wrapper {
  width: 45%;
}
.about__img {
  width: 85%;
}
.socials {
  display: flex;
}
.socials__item {
  background-color: var(--clr-gray-400);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  transition: background-color .15s ease-in-out;
}
.socials__item:hover {
  background-color: var(--clr-dark-900);
}
.socials__item:not(:last-child) {
  margin-right: 2rem;
}
.socials__link {
  color: var(--clr-gray-100);
  padding: .8rem;
}
/* end of about */
/* single-slide */
.single-slide {
  height: 100%;
  overflow: hidden;
}
.single-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 6rem;
  background-color: #fff;
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
  transform: translateY(-50%) scale(1);;
  transition: all .2s ease-in-out;
  z-index: 5;
}
.single-slide > div:hover {
  transform: translateY(-50%) scale(1.1);
}
.single-slide__btn-left {
  top: 50%;
  left: 3rem;
}
.single-slide__btn-right {
  top: 50%;
  right: 3rem;
}
.single-slide__list {
  margin: 0;
  height: 100%;
  position: relative;
}
.single-slide__item {
  position: absolute;
  top: 0;
}
 .single-slide__list > li {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  background-position: center;
} 
.single-slide__item-1 {
  background: url('../img/full-slide/thumb-1.jpg');
}
.single-slide__item-2 {
  background: url('../img/full-slide/thumb-2.jpg');
}
.single-slide__item-3 {
  background: url('../img/full-slide/thumb-3.jpg');
}
/* end of single-slide */
/* featured */
.featured__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.featured__text {
  width: 45%;
}
.featured__text::after {
  content: '';
  display: block;
  left: 0;
  bottom: -10rem;
  height: 7rem;
  width: .1rem;
  background-color: var(--clr-dark-900);
}
.featured__heading {
  font-size: 4.2rem;
  margin-bottom: 3rem;
  position: relative;
}

.featured__paragraph {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  max-width: 45rem;
}
.featured__img-wrapper {
  width: 55%;
}
/* end of featured */
/* three-slide */
.three-slide {
  height: 100%;
  overflow: hidden;
}
.three-slide > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 6rem;
  background-color: #fff;
  font-size: 2rem;
  position: absolute;
  cursor: pointer;
  transform: translateY(-50%) scale(1);;
  transition: all .2s ease-in-out;
  z-index: 5;
}
.three-slide > div:hover {
  transform: translateY(-50%) scale(1.1);
}
.three-slide__btn-left {
  position: absolute;
  top: 50%;
  left: 0rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  z-index: 11;
  cursor: pointer;
}
.three-slide__btn-right {
  position: absolute;
  top: 50%;
  right: 0rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  z-index: 11;
  cursor: pointer;
}
.three-slide__list {
  margin: 0 auto;
  height: 100%;
  position: relative;
  width: calc(100% - 22rem);
}

.three-slide__item {
  width: 40%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.tree-slide__img {
  
}
.three-slide__item-1 {
  
}
.three-slide__item-2 {
  
}
.three-slide__item-3 {
  
}
.three-slide__item-4 {
  opacity: 0;
}
/* end of three-slide */
/* contact */
.contact .section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact__text {
  text-align: center;
  position: relative;
  z-index: 10;
  max-width: 95rem;
}
.contact__heading {
  font-size: 4.2rem;
  margin-bottom: 3rem;
}
.contact__paragraph {
  font-size: 1.6rem;
  margin-bottom: 5rem;
}
.contact__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  max-width: 60rem;
}
.contact__form > * {
  background: transparent;
  border: 1px solid var(--clr-dark-900);
  outline: none;
  padding: .8rem 1.5rem;
  font-family: var(--ff-raleway);
}
.contact__email {
  width: 47%;
}
.contact__subject {
  width: 47%;
}
.contact__message {
  width: 100%;
  margin: 3rem 0;
  resize: none;
}
.contact__submit {
  width: 100%;
  background: #111;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
/* end of contact */
@media screen and (max-width: 1025px) {
  .header__img-wrapper {
    display: none;
  }
  .header__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    text-align: right;
  }
  .header__text::after {
    display: none;
  }
  .header__content {
    justify-content: flex-end;
  }
  .about__img-wrapper {
    display: none;
  }
  .about__text {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
    width: 100%;
  }
  .about__paragraph {
    max-width: 60rem;
    text-align: right;
    
  }
  .about__heading::before {
    display: none;
  }

  .featured__img-wrapper {
    display: none;
  }
  .featured__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    text-align: right;
  }
  .featured__text::after {
    display: none;
  }
  .featured__content {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 900px) {
  .three-slide__list {
    width: calc(100% - 6rem);
  }
  .three-slide__item {
    width: 50%;
  }
}
@media screen and (max-width: 750px){
  #back {
    display: none;
  }
  #front {
    display: none;
  }
  .three-slide__item {
    width: 100%;
  }
  .three-slide > div {
    height: 4rem;
    width: 4rem;
    z-index: 11;
  }
}
@media screen and (max-width: 600px) {
  .header {
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-top: 1.5rem;
  }
  .header__text {
    text-align: center;
    align-items: center;
  }
  .header__heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .header__paragraph {
    max-width: 100%;
  }
  .about {
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-top: 1.5rem;
  }
  .about__content {
    display: block;
  }
  .about__text {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .about__heading {
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1.14;
  }
  .about__paragraph {
    text-align: center;
    font-size: 1.4rem;
  }
  .featured {
    margin-top: 1.5rem;
  }
  .featured__text {
    text-align: center;
    align-items: center;
  }
  .featured__heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .featured__paragraph {
    max-width: 100%;
  }
}